<section id="headline">
    <div class="container">
        <h3>Hakkımızda</h3>
    </div>
</section>
<section class="container">
    <hr class="vertical-space2" />
    <article class="twelve">
        <div class="sub-content">
            <h6 class="h-sub-content">Biz Kimiz?</h6>
        </div>
        <p>
            Aramızda gelecek nesle inanan - <b class="about-name">Aras</b> - olmasa bunca bilgiyi paylaşmazdık herhalde. Aras'a karşı olarak - <b class="about-name">Ömer</b> ve <b class="about-name">Ahmet</b> - ikilisi yine de içlerinde bir umut besliyorlar. Bu sebeble buraya onca içerik girmenin mantıklı olduğunu düşünüyorlar.
        </p>
    </article>
    <!-- end Who We Are -->
</section>