
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="jumbotron">
    <h2>Bu panelden blog kaydı oluşturabilir, yorumları düzenleyebilir ve kullanıcı ekleyebilirsiniz.</h2>
</div>
